body {
    font-family: 'Open Sans', sans-serif;
    /* margin: 1.5em; */
}

@media (min-width: 992px) {
    body {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

ul {
    padding-left: 0;
    list-style-type: none;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    padding-bottom: 1px;
    border-bottom: 1px dotted darkmagenta;
}


.pull-right {
    float: right;
}

.btn {
    padding: 0.3em 0.5em;
    background: #777;
    border: 1px solid #777;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.btn-brown {
    background: brown;
    border-color: brown;
    color: white;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: smaller;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

@media (min-width: 992px) {
    .btn {
        width: fit-content;
        justify-content: flex-start;
    }
}

.alert {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.alert-warning {
    background-color: #fff9db;
}

.alert .icon {
    background-color: #ffe066;
    color: #fab005;
}

.alert i {
    line-height: 1.8em;
}

.alert .text {
    padding: 1em;
}

@media (min-width: 992px) {
    .alert {
        flex-direction: row;
        align-items: center;
    }

    .alert .icon {
        padding: 0.8em;
    }
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-left: 0.7em;
}

/* NAVBAR */
nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li ~ li {
    margin-left: 1em;
}

nav a {
    color: cadetblue;
}

/* HOME */
#amount-due {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#amount-due .value {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    font-weight: 600;
}

#all-courses {
    display: grid;
    grid-gap: 1em;
}

.btn .badge {
    background: white;
    color: brown;
}

.unpaid-sessions {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-row-gap: 0.4em;
}



@media (min-width: 992px) {
    #all-courses {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-column-gap: 2em;
    }

    #amount-due {
        justify-content: center;
    }

    .value {
        margin-left: 6em;
    }

    .course-amount {
        margin-left: 0.7em;
    }

    .unpaid-sessions {
        grid-template-columns: auto;
    }
}

@media (min-width: 992px) {
    #wrapper {
        width: 50%;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* LOGIN */

form p {
    display: flex;
    flex-direction: column;
}

.remember-me {
    flex-direction: row;
}