h1,
h2,
h3 {
    text-align: center;
}

h1 {
    padding-bottom: 1px;
    border-bottom: 1px dotted darkmagenta;
    font-size: 2em;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.pull-right {
    float: right;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.3em 0.5em;
    background: #777;
    border: 1px solid #777;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.btn-brown {
    background: brown;
    border-color: brown;
    color: white;
}

.btn-brown:hover {
    background-color: white;
    color: brown;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: smaller;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.btn-brown:hover .badge {
    background: brown;
    color: white;
}

@media (min-width: 992px) {
    .btn {
        width: fit-content;
        justify-content: flex-start;
    }
}

.alert {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.alert-warning {
    background-color: #fff9db;
}

.alert .icon {
    background-color: #ffe066;
    color: #fab005;
}

.alert i {
    line-height: 1.8em;
}

.alert .text {
    padding: 1em;
}

@media (min-width: 992px) {
    .alert {
        flex-direction: row;
        align-items: center;
    }

    .alert .icon {
        padding: 0.8em;
    }
}

/* FORMS
-----------------------------------------------*/

.checkbox {
    flex-direction: row;
}

.input-button {
    flex-direction: column;
    grid-column: 1 / 3;
    margin-top: 0.5em;
}

form p {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

input[type="submit"] {
    margin-top: 0.5em;
    border-color: darkmagenta;
    color: darkmagenta;
}

input[type="submit"]:hover {
    background-color: darkmagenta;
    color: white;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-left: 0.7em;
}


/* BODY
-----------------------------------------------*/

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 992px) {
    body {
        /* width: 60%; */
        margin-left: auto;
        margin-right: auto;
    }
}

/* NAVBAR
-----------------------------------------------*/

nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color: white;
}

#brand {
    font-family: 'Audiowide', cursive;
    font-size: 1.4rem;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li ~ li {
    margin-left: 1em;
}

nav a {
    color: antiquewhite;
}

/* LIST
-----------------------------------------------*/

.course-list {
    display: grid;
    grid-row-gap: 1rem;
    text-align: center;
}

.course-list a {
    display: block;
    padding: 0.6em;
    border: 1px solid brown;
    border-radius: 4px;
    font-size: 1.2em;
    color: brown;
}

.course-list a:hover {
    background: brown;
    color: white;
}

/* MAIN
-----------------------------------------------*/

.main {
    margin-left: 0.3em;
    margin-right: 0.3em;
    flex-grow: 2;
}

@media (min-width: 992px) {

    .main-30 {
        width: 30%;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-50 {
        width: 50%;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* HOME
-----------------------------------------------*/
#amount-due {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#amount-due .value {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    font-weight: 600;
}

#all-courses {
    display: grid;
    grid-gap: 1em;
}

#all-courses .btn {
    width: auto;
    justify-content: space-between
}

.btn .badge {
    background: white;
    color: brown;
}

.unpaid-sessions {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    grid-row-gap: 0.4em;
}



@media (min-width: 992px) {
    #all-courses {
        display: flex;
        justify-content: center;
    }

    #all-courses li {
        flex-basis: 10em;
    }

    #amount-due {
        justify-content: center;
    }

    .value {
        margin-left: 6em;
    }

    .course-amount {
        margin-left: 0.7em;
    }

    .unpaid-sessions {
        grid-template-columns: auto;
    }
}

@media (min-width: 992px) {
    #wrapper {
        width: 50%;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* LOGIN
-----------------------------------------------*/

.remember-me {
    flex-direction: row;
}


/* MANAGE
-----------------------------------------------*/

#manage-cours {
    display: grid;
    grid-row-gap: 1rem;
    text-align: center;
}

#manage-cours a {
    display: block;
    padding: 0.6em;    
    border: 1px solid brown;    
    border-radius: 4px;
    font-size: 1.2em;
    color: brown;
}

@media (min-width: 992px) {
    #manage-cours {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
    }

    #manage-cours a {
        height: 100px;
        line-height: 100px;
    }
}

/* COURSE
-----------------------------------------------*/

#course h1 {
    grid-area: title;
}

#update-a-session {
    grid-area: update;
}

#add-a-session {
    grid-area: add;
}

#update-session {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#update-session p {
    justify-content: center;
    flex-direction: row;
}

#update-session p:last-child {
    flex-direction: column;
    /* align-items: center; */
    grid-column: 1 /3;
}

#update-session input[type="checkbox"] {
    width: 34px;
    height: 34px;
    width: 29px;
    height: 29px;
}

#update {
    /* width: 263px; */
}



@media (min-width: 992px) {

    #course {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-areas: "title title" "add update";
        grid-column-gap: 4em;
    }

    #update-session {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 0.5rem 0.8rem;
    }
}


/* SETTINGS
-----------------------------------------------*/

@media (min-width: 992px) {

    #settings.main {
        display: grid;
        grid-template-columns: minmax(11em,auto) auto;
        grid-template-areas: "title title" "list form";
        grid-column-gap: 4rem;
    }

    #settings h1 {
        grid-area: title;
    }

    #list {
        grid-area: list;
    }

    #form {
        grid-area: form;
    }
    
}

/* FOOTER
-----------------------------------------------*/

#footer {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: small;
    font-weight: 100;
    background: cadetblue; /*#487a7c; */
    color: white;
}

#footer div ~ div {
    margin-top: 0.5em;
}

#footer a {
    
    color: white;
}

#footer a .text {
    border-bottom: 1px dotted white;
}

@media (min-width: 992px) {

    #footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #footer div ~ div {
        margin-top: 0;
    }
}