<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    {{ fontawesome_html() }}
    <title>Payprof</title>
</head>
<body>
    <nav>
        <div id="brand">PayProf</div>
        <ul>
            <li>
                <a href="/" alt="home" title="Home"><i class="fas fa-home fa-lg"></i></a>
            </li>
            <li><a href="/registration" alt="registration" title="Registration"><i class="fas fa-user-plus fa-lg"></i></a></li>
            <li><a href="/manage" alt="manage" title="Manage"><i class="fas fa-tasks fa-lg"></i></a></li>
            <li><a href="/settings" alt="settings" title="Settings"><i class="fas fa-cog fa-lg"></i></a></li>
            <li>
                {% if current_user.is_authenticated %}
                    <a href="/logout" alt="logout" title="Logout"><i class="fas fa-sign-out-alt fa-lg"></i></a>
                {% else %}
                    <a href="/login" alt="login" title="Login"><i class="fas fa-sign-in-alt fa-lg"></i></a>
                {% endif %}
            </li>

        </ul>        
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>