{% extends "base.html" %}

{% block content %}

    <section id="{{ page_name}}" class="container">

    <h1>Course: {{ course.name }}</h1>

        <section id="update-a-session">

            {% if price_due %}
                <h2>Price due: {{price_due}} €</h2>
            {% endif %}

            <form id="update-session" method="post">

                {{ update_form.hidden_tag() }}

                {% for session in update_form.sessions %}
                    <p>
                        {{ session.form.id() }}

                        {{ session.form.date() }}
                        {% for error in session.form.date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        {{ session.form.paid() }}
                        {% for error in session.form.paid.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        
                    </p>
                {% endfor %}

                <p class="input-button">
                    {{ update_form.update() }}
                </p>
                
            </form>

        </section>

        <section id="add-a-session">

            <h2>Add a session</h2>

            <form id="add-session" method="POST">
                
                {{ add_form.hidden_tag() }}

                <p>
                    {{ add_form.date.label}}
                    {{ add_form.date() }}
                </p>

                <p class="checkbox">
                    {{ add_form.paid.label }}
                    {{ add_form.paid() }}
                </p>

                <p class="input-button">
                    {{ add_form.add() }}
                </p>

            </form>

        </section>

    </section>

{% endblock %}