{% extends "base.html" %}
    {% block content %}

        {% if current_user.is_authenticated %}
        <h2>Bienvenue {{ current_user.username }} !</h2>
        <h3>Vos sessions en attente de paiement</h3>
        <p id="amount-due">
            <span class="label">Total amount due:</span>
            <span class="value">{{ amount_due }}</span>
        </p>
        <ul>
            {% for course in courses %}
            <li>
                <a href="/course/{{ course[0].id }}">
                    {{ course[0].name }}
                </a>
                <span class="pull-right">{{ course[1] }}</span>
                <ul>
                    {% for session in courses[course] %}
                    <li>{{ session.date }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h1>Bienvenue !</h1>
        {% endif %}
    {% endblock %}
