
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payprof</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/registration">Registration</a> | 
        <a href="/login">Login</a> | 
        <a href="/manage">Manage</a> |
        <a href="/settings">Settings</a>        
    </nav>
    <h1>Result</h1>

    {% if failed %}
        <p>Erreur</p>
    {% else %}
        <p>Ok</p>
    {% endif %}
    
</body>
</html>


