{% extends "base.html" %}

    {% block content %}

        <section id="{{ page_name }}" class="form-container">

            <h1>Registration</h1>

            <form method="POST">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}
                    {{ form.username() }}
                </p>
                <p>
                    {{ form.password.label }}
                    {{ form.password() }}
                </p>
                <p>
                    {{ form.password2.label }}
                    {{ form.password2() }}
                </p>
                <p>
                    {{ form.register() }}
                </p>
            </form>

        </section>

    {% endblock %}