{% extends "base.html" %}

{% block content %}

    <section id="{{ page_name }}" class="container">

        <h1>Settings</h1>

        <section id="list">

            <h2>Liste des cours</h2>

            <ul class="course-list">
                {% for course in courses %}
                    <li>
                        <a href="/course/{{ course.id }}">{{course.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        
        </section>

        <section id="form">

            <h2>Add a course</h2>

            {% for category, message in get_flashed_messages(with_categories=true) %}
                {% if category == "add_course" %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endif %}
            {% endfor %}

            <form id="add-course" method="post">

                {{ form.hidden_tag() }}

                <p>
                    {{ form.name.label }}
                    {{ form.name() }}
                </p>
                <p>
                    {{ form.meeting_day.label }}
                    {{ form.meeting_day() }}
                </p>
                <p>
                    {{ form.meeting_time.label }}
                    {{ form.meeting_time() }}
                </p>
                <p>
                    {{ form.price.label }}
                    {{ form.price() }}
                </p>
                <p class="input-button">
                    {{ form.send() }}
                </p>

            </form>

        </section>

    </section>

{% endblock %}